@mixin shop-ui-select($name: '.select') {
    #{$name} {
        @include helper-effect-transition(border-color);
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 100%;
        background-color: $setting-color-white;
        border: 1px solid $setting-color-gray-7;
        border-radius: rem(2);

        &__select {
            display: block;
            width: 100%;
            background-color: $setting-color-white;
            border-radius: 4px;
            border-right-width: rem(24);
            padding: rem(10);
            font: fw(regular) rem(16) / rem(18) $setting-font-family;
            color: $setting-color-gray-4;
            appearance: none;
            font-weight: 200;


            &:-moz-focusring {
                color: transparent;
                text-shadow: 0 0 0 $setting-color-black;
            }
        }

        &__caret {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: rem(10);
            color: $setting-color-black;
            width: rem(8);
            height: rem(5);
            pointer-events: none;
        }

        &--expand {
            display: block;
            width: 100%;
        }

        &--hollow {
            background-color: $setting-color-transparent;
            border: none;
        }

        @content;
    }
}

@include shop-ui-select();
