@mixin shop-ui-product-item($name: '.product-item') {
    #{$name} {
        position: relative;

        @include helper-breakpoint-media-min($md-min) {
            padding: 0 rem(15) rem(50);
        }

        &__image-wrap {
            @include helper-effect-transition(box-shadow);
            border-radius: rem(4);
            margin-bottom: rem(9);
            position: relative;
            overflow: hidden;

            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: rem(24);
            }
        }

        &__top-bar {
            margin-bottom: 15px;
        }

        &__wishlist-icon {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            box-shadow: 0 2px 4px #00000029;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -5px;
        }

        &__price-block {
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: -8px;
        }
        
        &__overlay {
            display: block;
            padding: rem(45) rem(10) rem(70);

            @include helper-breakpoint-media-min($md-min) {
                padding: rem(45) rem(10) rem(70);
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: rem(4);
                z-index: $setting-zi-element-floating;
            }

            &::after {
                @include helper-effect-transition(opacity);
                opacity: 0;
            }
        }

        &__overlay-container {
            @include helper-effect-transition(transform);
            background: $setting-color-white;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: $setting-zi-header;
            width: 100%;
            border-radius: 0 0 rem(4) rem(4);
            transform: translateY(100%);
            display: flex;
        }

        &__overlay-container-col {
            flex-grow: 1;
        }

        &__colors {
            padding: rem(18) 0;
            text-align: center;
            flex-grow: 1;
        }

        &__container {
            position: relative;
            display: block;
            border: 1px solid #cccccc;
            border-radius: 4px;
            background-color: #fff;
            padding: 15px;
            color: $setting-color-black;

            &--title-top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }

            .no-touch &:hover {
                text-decoration: none;
                color: $setting-color-black;



                #{$name}__overlay::after {
                    opacity: 0.09;
                }

                #{$name}__overlay-container {
                    transform: translateY(0);
                }
            }
        }

        &__actions-container {
            position: absolute;
            bottom: rem(8);
            left: rem(8);
            right: rem(8);
            margin: auto;
        }

        &__info {
            display: block;
            margin: 0 rem(10) rem(3);
            font: fw(medium) rem(13) $setting-font-family-additional;
            letter-spacing: rem(0.3);
            color: $setting-color-blue;
            flex-wrap: wrap;

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(16);
                margin: 0 rem(11);
                flex-wrap: nowrap;
            }

            &:hover {
                color: $setting-color-black;
                text-decoration: none;
            }
        }

        &__name {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            word-break: break-word;
            margin-bottom: 12px;
            font-family: inherit;
        }

        &__review {
            display: flex;
            margin-top: rem(7);
        }

        &--stretch {
            height: 100%;
        }

        &--slider {
            display: inline-block;
            width: 25%;
        }

        &--product-set {
            #{$name}__overlay {
                padding-top: rem(20);
                padding-bottom: rem(20);

                @include helper-breakpoint-media-min($md-min) {
                    padding-top: rem(90);
                    padding-bottom: rem(120);
                }
            }

            #{$name}__info {
                min-height: rem(48);
            }
        }

        &--widget {
            @include helper-breakpoint-media-min($md-min) {
                padding: 0;
            }

            &:not(:first-child) {
                display: none;
            }
        }

        &--cms {
            align-self: stretch;
            padding-bottom: rem(64);
            margin-bottom: rem(32);

            #{$name}__actions-container {
                padding: 0 rem(7);
            }
        }

        &--promotional {
            background: $setting-color-white;
            border-radius: rem(4);
            padding: 0 rem(15) rem(15);

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: rem(4);
                pointer-events: none;
                background: $setting-color-alpha-1;
                z-index: $setting-zi-element-floating;
            }

            &:hover {
                &::before {
                    background: $setting-color-transparent;
                }
            }

            #{$name}__container {
                position: static;

                .no-touch &:hover {
                    #{$name}__image-wrap {
                        box-shadow: none;
                    }
                }
            }

            #{$name}__image-wrap {
                position: static;
            }

            #{$name}__info {
                margin: 0;
            }

            #{$name}__overlay {
                padding: rem(20);

                &::before,
                &::after {
                    display: none;
                }
            }
        }

        @content;
    }
}

@include shop-ui-product-item();