@mixin customer-profile-card($name: '.customer-profile-card') {
    #{$name} {
        box-shadow: 0 2px 15px #0000001a;
        background-color: #fff;
        height: rem(130);
        padding: rem(14) rem(24);
        margin: rem(12);

        &__body {
            width: 100%;
        }

        &__avatar {
            line-height: rem(88);
            height: rem(88);
            width: rem(88);
            background-color: #939393;
            border-radius: 50%;
            text-align: center;
            font-size: rem(44);
            color: #fff;
            letter-spacing: rem(3);
        }

        &__name {
            margin: rem(25);
        }

        &__divider {
            width: rem(1);
            height: rem(88);
            background-color: #000;
            opacity: 0.3;
            margin: 0 rem(12);
        }

        &__details {
            li {
                margin-bottom: rem(4);
            }
        }

        &__points {
            text-align: center;
            font-weight: bold;
        }
    }
}

@include customer-profile-card();
