@mixin shop-ui-explore-hp-item($name: '.explore-hp-item') {
    #{$name} {
        width: 8%;;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #000;

        &:hover {
            color: #1964a4;
        }

        &__icon {
            margin-bottom: 12px;
            border-radius: 50%;
            background: #dddddd5e;
            padding: 20px;
        }

        &__label {
            font-size: 18px;
            line-height: 17px;
            text-align: center;
        }
    }
}

@include shop-ui-explore-hp-item();