@mixin pdp-sticky-header($name: '.pdp-sticky-header') {
    #{$name} {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $setting-color-bg;
    border-bottom: 1px solid $setting-color-black;
    box-shadow: 0 2px 5px $setting-color-shadow;
    padding: 16px 20px;
    z-index: 9999;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
    
    &--hidden {
    transform: translateY(-100%);
    opacity :0;
    }

    &--visible {
        transform :translateY(0);
        opacity :1;
    }

    &__content {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &__name {
        font-size: 24px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price {
        margin-right: 20px;
        color: $setting-color-black;
        font-weight: 700;
        margin-top: 4px;
        line-height: 24px;
        word-break: keep-all;
        width: max-content;
        font-size: 24px;
    }
}
}
@include pdp-sticky-header();