@mixin shop-ui-explore-hp($name: '.explore-hp') {
    #{$name} {
        width: 100%;
        max-width: 1240px;
        margin: 48px auto 0;
        text-align: left;

        &__title {
            font-size: 3rem;
            margin-left: 30px;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            background-color: #fff;
            justify-content: space-evenly;
            margin-top: 15px;
        }
    }
}

@include shop-ui-explore-hp();
